div {
  border: 1px solid black;
}

body {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px
}

.logo span {
  color: MediumAquamarine;
  padding-left: 10px;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 20px;
}

.column.large {
  width: 630px;
}

.image-header {
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.main .image-header {
  background-image: url("./resources/img-story-main.png");
  height: 300px;
  font-size: 40px;
}

.earth .image-header {
  background-image: url("./resources/img-story-2.png");
  height: 300px;
}

.camera .image-header {
  background-image: url("./resources/img-story-3.png");
  height: 300px;
}

.cats .image-header {
  background-image: url("./resources/img-story-1.png");
  height: 300px;
}

.stories {
  display: flex;
  justify-content: space-between;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
