.container {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}

.header {
  display: inline-flex;

}

.nav {


}

h3 {
  color: MediumAquamarine;
  padding-left: 10px

}
