/* Universal Styles */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Header Styles */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 69px;
  width: 100%;
  background-color: black;
  opacity: 0.9;
  position: fixed;
  border-bottom: 1px solid seashell;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
  margin-right: 10px;
}

a {
  color: seashell;
  text-decoration: underline;
}

/* Hero Styles */

.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.mission-statement {
  background-color: black;
  opacity: 0.9;
  margin-top: 300px;
}

.hero h2, h3, h4 {
  margin: 0px;
  padding: 10px;
  text-align: center;
}

.hero-image {
  background-image: url("./resources/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  margin: 69px 20px;
}

/* Content Styles */
.headlines h2, h3, h4 {
  display: block;
  text-align: center;
  margin: 0px;
}

#content {
  width: 1000px;
  height: 600px;
}

.store  {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.store img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.store span {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

/* locations Styles */
.locations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.location-image {
  background-image: url("./resources/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  margin: 0px 20px;
  padding-top: 50px;
}

.location-image h2 {
  display: block;
  text-align: center;
}

.addresses {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addresses div {
  width: 300px;
  margin: 15px 20px 0px;
  background-color: black;
  opacity: 1;
}

.addresses p {
  text-align: center;
}

/* Footer Styles */

.contact {
  height: 200px;
}

.contact h2, h5 {
  display: block;
  text-align: center;
}

.copyright h6 {
  text-align: left;
  margin-left: 20px;
}
